/* Estilos específicos para el header */
.header {
    display: flex; /* Usa flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Separa el título y el logo a los extremos */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #f8f8f8; /* Color de fondo */
    border-bottom: 1px solid #ddd; /* Borde inferior */
    margin-bottom: 40px; /* Margen inferior */
}

/* Estilos para el título dentro del header */
.header .title {
    font-size: 45px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #54259e; /* Color del texto */
    margin-left: 10px; /* Margen izquierdo */
}

/* Estilos para el contenedor del logo */
.header .container_logo img {
    height: 120px; /* Altura de la imagen */
    width: 120px; /* Ancho de la imagen */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2)); /* Sombra para efecto visual */
    margin-right: 50px; /* Margen derecho */
    border-radius: 50%; /* Bordes redondeados para hacerlo circular */
}

/*###################################*/

.contenedor-principal {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container_datos1, .metrica {
    flex: 1;
    margin: 0;
}

@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column;
    }
}

/* Estilos generales para el contenedor */
.container_datos1 {
    display: flex; /* Coloca los elementos en una fila horizontal */
    justify-content: space-around; /* Distribuye el espacio uniformemente */
    align-items: center; /* Centra verticalmente los elementos */
    border-radius: 20px; /* Bordes redondeados */
    margin: 0 auto 20px; /* Centrar el contenedor y agregar margen inferior */
    background-color: #f8f9fc; /* Color de fondo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Centrar el contenido */
    padding: 20px; /* Espaciado interno */
    border-left: 5px solid #533392; /* Borde izquierdo */
    border-bottom: 5px solid #533392; /* Borde inferior */
}

/* Estilos para cada bloque de datos */
.datos_us {
    flex: 1; /* Hace que cada bloque ocupe el mismo espacio */
    margin: 0 5px; /* Espacio entre los bloques */
    text-align: center; /* Centra el texto */
}

/* Estilos para las etiquetas */
.datos_us label h6 {
    color: #54259e;
    font-weight: bold;
    margin: 0 0 10px 0; /* Espacio debajo del título */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Texto semibold */
}

/* Estilos para los select */
.custom-form-control {
    width: 100%; /* Ocupa el 100% del ancho */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    color: #000000ab; /* Color del texto */
    margin-bottom: 20px;
}

/* Estilos para las opciones del select */
.custom-form-control option {
    background-color: #6a46b1; /* Fondo de las opciones */
    color: #fff; /* Color del texto */
}

/*#################################*/

/* Estilos generales para el contenedor de llamadas */
.container_llamadas {
    display: flex; /* Coloca los elementos en una fila horizontal */
    justify-content: space-around; /* Distribuye el espacio uniformemente */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
    border-radius: 20px; /* Bordes redondeados */
    margin: 0 auto 20px; /* Centrar el contenedor y agregar margen inferior */
    background-color: #f8f9fc; /* Color de fondo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Centrar el contenido */
    padding: 20px; /* Espaciado interno */
    border-left: 5px solid #533392; /* Borde izquierdo */
    border-bottom: 5px solid #533392; /* Borde inferior */
}

/* Estilos para cada bloque de llamadas */
.llamadas {
    flex: 1; /* Hace que cada bloque ocupe el mismo espacio */
    margin: 10px; /* Espacio entre los bloques */
    text-align: center; /* Centra el texto */
}

/* Estilos para las etiquetas */
.llamadas label h6 {
    color: #54259e;
    font-weight: bold;
    margin: 0 0 10px 0; /* Espacio debajo del título */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Texto semibold */
}

/* Estilos para los inputs */
.custom-form-control {
    width: 100%; /* Ocupa el 100% del ancho */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    color: #000000ab; /* Color del texto */
    margin-bottom: 20px; /* Espacio entre inputs */
}

/* Estilos para los inputs de tipo date y time */
.custom-form-control[type="date"],
.custom-form-control[type="time"] {
    padding: 8px; /* Espaciado ajustado para inputs de fecha y hora */
}

/* Estilos para las opciones del select (si las añades más adelante) */
.custom-form-control option {
    background-color: #6a46b1; /* Fondo de las opciones */
    color: #fff; /* Color del texto */
}

/*#############################################*/

/* Contenedor principal */
.container_semanas {
    display: flex;
    justify-content: center; /* Centra los bloques horizontalmente */
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fc;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #533392;
    border-bottom: 5px solid #533392;
}

/* Contenedor de las semanas */
.semanas {
    display: flex;
    flex-direction: row; /* Coloca los elementos en fila */
    gap: 30px; /* Espaciado entre las semanas */
}

/* Cada bloque de semana */
.semana-item {
    display: flex;
    flex-direction: column; /* Pone el título arriba y el div abajo */
    align-items: center; /* Centra el contenido */
    text-align: center;
}

/* Estilos para el título de cada semana */
.semana-item h6 {
    color: #54259e;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilos para el div de cada semana */
.semana {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000000ab;
    background-color: #fff;
    text-align: center;
    width: 100px; /* Tamaño fijo para uniformidad */
}

/*###############################################*/
/* Estilos para el contenedor principal */
.container_notabbva {
    width: 400px; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
    background-color: #f8f9fc; /* Color de fondo */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Centrar el contenido */
    margin-bottom: 20px; /* Margen inferior */
    border-left: 5px solid #533392; /* Borde izquierdo */
    border-bottom: 5px solid #533392; /* Borde inferior */
    margin-left: 20px; /* Margen izquierdo */
}

/* Estilos para la etiqueta de la nota de calidad */
.container_nota_bbva label h4 {
    color: #54259e; /* Color del texto */
    font-weight: bold; /* Negrita */
    margin-bottom: 0px; /* Margen inferior */
}

/* Contenedor de la nota de calidad */
.container_nota_bbva {
    text-align: center; /* Centrar el contenido */
    margin: 0 auto; /* Centrar el contenedor */
    max-width: 100%; /* Ancho máximo */
}

/* Estilo para el valor de la nota de calidad */
#nota_bbva {
    font-size: 70px; /* Tamaño grande */
    font-weight: bold; /* Texto en negrita */
    color: black; /* Color inicial */
    transition: color 0.5s ease-in-out; /* Transición suave para el color */
    margin-top: 10px; /* Espacio superior */
}

/* Colores según el rango */
#nota_bbva.rojo {
    color: red;
}

#nota_bbva.amarillo {
    color: #ffcc00;
}

#nota_bbva.verde {
    color: green;
}

/* Estilos para la sección de performance */
.container_performancebbva h4 {
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px; /* Margen superior */
    color: #54259e; /* Color del texto */
    font-weight: bold; /* Negrita */
    margin-bottom: 35px; /* Margen inferior */
}

.container_performancebbva {
    width: 100%;
}

/* Imagen dentro del bloque */
#performancebbva_img {
    width: 400px; /* Tamaño fijo para mantener consistencia */
    height: 250px; /* Altura fija para que todas se vean iguales */
    max-width: 100%;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra sutil */
    object-fit: cover; /* Recorta la imagen sin distorsionarla */
    object-position: center; /* Centra la imagen si es más grande */
}

/*###################################################*/
/* Contenedor de los botones */
.btn_inicial {
    margin-left: 15px;
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 40px; /* Más separación entre los botones */
    margin-top: 80px; /* Mayor espacio superior */
    width: 100%;
}

/* Estilos generales de botones */
.custom-submit-button-c {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px; /* Botones un poco más grandes */
    border-radius: 50px; /* Bordes más suaves */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espacio entre icono y texto */
    min-width: 150px; /* Tamaño mínimo para uniformidad */
}

/* Efecto de clic (más natural) */
.custom-submit-button-c:active {
    transform: scale(0.95); /* Se reduce ligeramente */
}

/* Botón Limpiar (Azul Suave) */
#btnlimpiar {
    background-color: #fd8181;
    color: #000000;
  box-shadow: 0px 4px 6px rgba(83, 51, 146, 0.3);
  
}

#btnlimpiar:hover {
    background-color: #fd6363;
    color: #f8f9fc;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Botón Enviar (Morado) */
#btnenviar {
    background-color: #b38dff;
    color: #000000;
    box-shadow: 0px 4px 6px rgba(83, 51, 146, 0.3);
}

#btnenviar:hover {
    background-color: #533392;
    color: #f8f9fc;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

