/* Encabezado */
.header {
    display: flex; /* Usa flexbox para organizar los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 10px;
    background-color: #f8f9fc; /* Color de fondo */
    border-bottom: 2px solid #ccc; /* Línea de separación en la parte inferior */
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #533392 ;
}

.container_logo img {
    max-height: 50px; /* Limita la altura de la imagen del logo */
}

/* Contenedor principal */
.main-container {
    display: flex; /* Usa flexbox para la disposición */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si es necesario */
    gap: 10px; /* Espacio entre los elementos */
    width: 100%;
    max-width: 100%; /* Ajusta el ancho máximo */
}

/* Estilos para la sección Calidad 1 */
.form-section {
    flex: 1.8; /* Ocupa más espacio que otras secciones */
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fc; /* Color de fondo */
    border-left: 5px solid #533392; /* Borde izquierdo */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Contenedor de la cuadrícula */
.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 3.5px; /* Espacio entre los campos */
}

/* Estilos para cada grupo de formulario */
.custom-form-group-editar {
    display: flex;
    flex-direction: column; /* Organiza los elementos de forma vertical */
}

.custom-form-control {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    font-size: 8px;
}

/* Estilos para la sección Calidad 2 */
.container_notacalidad {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f8f9fc; /* Color de fondo */
    border-left: 5px solid #533392; /* Borde izquierdo */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container_nota_calidad {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    gap: 20px; /* Espacio entre los elementos */
}

.nota-calidad {
    flex: 1;
    text-align: center; /* Centra el texto */
}

.nota-calidad h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.nota-porcentaje {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    width: 170px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centra el círculo */
}

.container_performance {
    flex: 1;
    text-align: center; /* Centra el contenido */
}

.container_performance h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.container_performance img {
    max-width: 160px; /* Limita el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados */
}


/*#########################################*/

/* Contenedor principal que envuelve ambos bloques */
.container-fila {
    display: flex; /* Utilizamos flexbox para alinear los elementos en fila */
    gap: 20px; /* Espacio entre los bloques */
    justify-content: space-between; /* Alineamos los bloques con espacio entre ellos */
    width: 100%; /* Ancho completo */
}

/* Estilos para el bloque de Impacto Negocio */
.container_negocio,
.container_operativo {
    width: 50%; /* Cada bloque ocupa el 48% del ancho */
    padding: 15px;
    margin: 0;
     border: 1px solid #ddd;
    background-color: #f8f9fc; /* Color de fondo */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-left: 5px solid #533392; /* Borde izquierdo */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

/* Ajuste para el título de cada bloque */
.container_negocio h3,
.container_operativo h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos comunes para los inputs y selects */
.calidad-form-control {
    width: 100%;
    padding: 0px;
    margin: 3px 0;
    font-size: 10px;
     border: 1px solid #ddd;
    border-radius: 4px;
}

/* Ajustes visuales para las etiquetas */
.container_negocio label h6,
.container_operativo label h6 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo de la cuadrícula interna */
#calidad-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 3px;
    margin-top: 3px;
    align-items: center;
}

/* Ajustes visuales para los campos dentro de la cuadrícula */
#calidad-grid-container input[readonly] {
    background-color: #e9ecef;
}

#calidad-grid-container label,
#calidad-grid-container input,
#calidad-grid-container select {
    font-size: 13px;
    padding: 3px;
}

#calidad-grid-container select {
    margin-bottom: 5px;
}

/*####################################################*/
/* Contenedor principal */
.contenedor-principal {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los bloques */
    margin-top: 10px;
    width: 100%;
    font-size: 10px;
}

/* Fortalezas y Áreas de Oportunidad */
.container_FA {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 50%;
}

/* Asegurar que los textareas ocupen todo el espacio */
.fortalezas-textarea,
.oportunidades-textarea {
    flex-grow: 1;
    height: 100%;
}


.fortalezas-container,
.oportunidades-container {
    flex: 1;
    padding: 15px;
     border: 1px solid #ddd;
    background-color: #f8f9fc; /* Color de fondo */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-left: 5px solid #533392; /* Borde izquierdo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px; /* Altura fija para que ambas sean iguales */
}

textarea {
    width: 100%;
    height: 600px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

/* Comentarios y compromiso */
.container_com {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: #533392  ;
     font-weight: bold;
}

/* Firmas */
.firmas-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin-top: 3px;
    color: #533392  ;
}

.firma-item {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

canvas {
    border: 1px solid #533392 ;
    border-radius: 5px;
    width: 100%;
    height: 110px;
}


/*####################################################*/
